@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #c6c3c3;
  --second-color: #ffffff;
  --black-color: #000000;
  --error-color: #b81717;
  --bg-disabled-btn-color: #dcdada;
  --bg-input-color: #e7f0fe;
}
